/* Style the "Contact" page */
main {
    padding: 20px;
    color: aqua;
}

h2 {
    font-size: 24px;
    color: #bc2121;
    margin-top: 10px;
}

address {
    font-size: 16px;
    color: #2826a8;
    margin-top: 10px;
}

form {
    font-size: 16px;
    color: #20bb70;
    margin-top: 10px;
}

form label {
    display: block;
    margin-top: 10px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #66aed7;
    border-radius: 5px;
}

form button {
    background-color: #007BFF;
    color: #dd1dcd;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

li a {
    text-decoration: none;
    color: #007BFF;
    font-size: 16px;
}

li a:hover {
    text-decoration: underline;
}
